 <div class="nav-title-container">
        <a class="font-style nav-title remove-text-decoration" href="/">&lt;Parth/&gt;</a>
</div> 
<nav class="nav">
<ul class="link-list">
    {% for item in nav %}
      <li><a class="remove-text-decoration nav-link retro-font-style" href="{{ item.url }}">{{ item.label }}</a></li>
    {% endfor %}
  
</ul>
</nav>