<nav class="nav">
<ul class="link-list">
    {% for item in nav %}
      <li><a class="remove-text-decoration nav-link retro-font-style" href="{{ item.url }}">{{ item.label }}</a></li>
    {% endfor %}
  
</ul>
{% include "nav-social.njk" %}
</nav>