---
title: Parth :)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/assets/css/comm.css"/>
    <link rel="stylesheet" href="/assets/css/page.css"/>
    <link rel="stylesheet" href="/assets/css/me.css"/>
  </head>
  <body>
  <div class="container">
    <div class="nav-container"> 
      <div class="nav-title-container">
        <a class="retro-font-style nav-title remove-text-decoration" href="/">{Parth}</a>
      </div> 
 {% include "home-header.njk" %}
      <div class="menu-btn">
          <div class="menu-btn-burger"></div>
      </div>
    </div>
</div>
    {{ content | safe }}  
     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
<script src="../scripts/menu.js"></script>
  </body>
</html>


     