---
title: Parth :)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/comm.css"/>
    <link rel="stylesheet" href="/assets/css/page.css"/>
  </head>
  <body>
  <div class="container">
    <div class="nav-container"> 
      <div class="nav-title-container">
        <a class="retro-font-style nav-title remove-text-decoration" href="/">{Parth}</a>
      </div> 
    <div class="nav-links-container">
      <a class="remove-text-decoration nav-link retro-font-style" href="/">Home</a>
      <a class="remove-text-decoration nav-link retro-font-style" href="/me">Me</a>
      <a class="remove-text-decoration nav-link retro-font-style" href="/projects">Projects</a>
      <a class="remove-text-decoration nav-link retro-font-style" href="/blog">Blog</a>
    </div>
      <div class="menu-btn">
          <div class="menu-btn-burger"></div>
      </div>
    </div>
</div>
 <!-- {% include "home-header.njk" %} -->
    {{ content | safe }}  
  </body>
</html>


     