---
title: Parth :)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
     <link rel="icon" 
      type="image/png" 
      href="../assets/tab-icon.png">
       <link rel="stylesheet" href="/assets/css/comm.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
     <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/textAnim.css">
    <link rel="stylesheet" href="/assets/css/page.css"/>
    <link rel="stylesheet" href="/assets/css/me.css"/>
    <link rel="stylesheet" href="/assets/css/project.css"/>
    <link rel="stylesheet" href="/assets/css/contact.css"/>
  </head>
        <div id="loader"></div>
  <body>
    <div class="container" data-barba ="wrapper">
      <div class="nav-container" data-aos="fade-down">
        <h1 class="nav-header">&lt; PARTH /&gt;</h1>    
        {% include "home-header.njk" %}
        <div class="menu-btn">
          <div class="menu-btn-burger"></div>
        </div>
      </div>
      <main class="main-container" data-barba="container" data-barba-namespace="home">
        {{ content | safe }}
      </main>
        {% include "page-footer.njk" %}
    </div>
  </body>
  <script src="/scripts/pageLoader.js"></script>
  <script src="/scripts/nav.js"></script>
  <script src="../scripts/menu.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  <script src="https://unpkg.com/@barba/core"></script>
  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
  <script type="module" src="/scripts/barbaTransitions.js"></script>
</html>


     