.nav-link,
.nav-title {
  color: var(--sec-color);
}
.nav-link {
  font-size: 1.5rem;
  font-family: "Roboto Medium";
  letter-spacing: 0.1mm;
}
.nav-header {
  color: var(--sec-color);
  font-family: "RoadRage";
  letter-spacing: 0.2mm;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.link-list {
  display: flex;
  align-self: center;
}
.container {
  padding: 5px;
  min-height: 100vh;
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 25px;
  background: var(--prim-color);
  z-index: 2;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.75);
  opacity: 0.95;
}
.nav {
  align-self: center;
}
.nav-link {
  padding: 0.3em 0.5em;
  margin: 0 20px;
  transition: 0.2s ease-in-out;
  border-color: var(--sec-color);
  transition: 0.35s ease-in-out;
}
.nav-link:last-child {
  margin-right: 0;
}

.nav-link:not(.active):hover {
  border-bottom: 4px dotted var(--sec-color);
  transition: 0.15s ease-in-out;
}

.active {
  border-radius: 5px;
  color: var(--prim-color);
  background: var(--sec-color);
}

.menu-btn {
  position: fixed;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  top: 35px;
  right: 15px;
  display: none;
}
.menu-btn-burger {
  width: 35px;
  height: 5px;
  background: var(--sec-color);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background: var(--sec-color);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.menu-btn-burger::before {
  transform: translateY(-10px);
}
.menu-btn-burger::after {
  transform: translateY(10px);
}
.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(45px, -45px);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(45px, 45px);
}

@media (max-width: 860px) {
  .menu-btn {
    display: block;
    z-index: 5;
  }
  .nav-header {
    font-size: 3rem;
  }
  .nav {
    position: fixed;
    background: var(--prim-color);
    width: 100%;
    height: 100%;
    top: -100%;
    left: 200%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    z-index: 4;
    border-radius: 50%;
  }
  .nav-container {
    opacity: 1;
  }
  .link-list {
    display: flex;
    flex-direction: column;
  }
  .link-list li {
    text-align: center;
    margin: 35px 0;
  }
  .nav-link {
    font-size: 2.8rem;
    margin: 0;
    letter-spacing: 0.4mm;
  }
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #090f1c;
}
::-webkit-scrollbar-thumb {
  background: #192743;
  border-radius: 5px;
  z-index: 10;
}

@media (max-width: 510px) {
  .link-list li {
    margin: 30px 0;
  }
  .link-list li a {
    font-size: 2rem;
  }
  .link-list {
    padding-left: 0;
  }
  .nav-title {
    font-size: 2.1rem;
  }
}
@media (max-width: 425px) {
  .nav-header {
    font-size: 2.5rem;
  }
  .nav-container {
    padding: 10px;
  }
}
