.all-project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 65px;
  padding: 25px 0;
}
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  padding: 10px 0;
  border: 3px solid var(--sec-color);
  border-radius: 10px;
}
.project-logo {
  border-radius: 10px;
  transform: scale(0.9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.about-project-container {
  align-self: center;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop-only {
  color: var(--sec-color);
  font-size: 1.1rem;
  font-family: "Roboto";
  margin: 5px;
}
.project-name {
  color: var(--sec-color);
  font-size: 2.2rem;
  font-family: "Fira Sans Bold";
  text-align: center;
  margin: 10px 0;
}
.about-project {
  color: var(--sec-color);
  font-family: "Roboto Medium";
  font-size: 1.35rem;
  text-align: center;
  max-width: 450px;
  margin: 10px;
}
.project-links-container {
  margin: 15px 5px;
  display: flex;
  justify-content: center;
}
.project-link {
  text-decoration: none;
  color: var(--sec-color);
  font-family: "Roboto Medium";
  font-size: 1.2rem;
  padding: 5px 10px;
  margin: 0 5px;
  border: 2px solid var(--sec-color);
  border-radius: 8px;
  transition: 0.25s ease-in-out;
}
.project-link:hover {
  background-color: var(--sec-color);
  color: var(--prim-color);
}
@media (max-width: 556px) {
  .project-name {
    font-size: 1.8rem;
  }
  .about-project {
    font-size: 1.2rem;
  }
}

@media (max-width: 432px) {
  .project-name {
    font-size: 1.5rem;
  }
  .about-project {
    font-size: 1.1rem;
  }
  .project-link {
    font-size: 1rem;
  }
}
@media (max-width: 380px) {
  .project-name {
    font-size: 1.3rem;
  }
  .about-project {
    font-size: 1rem;
  }
}
