.my-projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 130px;
}
.project-card {
  width: 350px;
  height: 400px;
  perspective: 1000px;
  transition: 0.25s ease-in-out;
  border-radius: 8px;
  margin: 40px 25px;
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 4px solid var(--sec-color);
  border-radius: 8px;
}
.image-container {
  overflow: hidden;
  height: 300px;
}
.tag {
  font-size: 1.2rem;
  padding: 0.1rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--sec-color);
  color: var(--main-color);
  border-radius: 5px;
  margin-bottom: 5px;
}
.project-image {
  width: 350px;
  height: 300px;
  overflow: hidden;
  z-index: -1;
  transition: 0.25s ease-in-out;
}
.project-card:hover .project-image {
  transform: scale(1.2);
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}

.project-card-front {
  background: rgba(6, 7, 32, 0.603);
}

.project-card-back {
  background-color: var(--sec-color);
  color: var(--prim-color);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
}
.read-container {
  padding: 15px 10px;
}
.read-btn {
  padding: 10px;
  border: 2px solid var(--sec-color);
  font-size: 1.1rem;
  color: var(--sec-color);
  background: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  font-family: "Roboto Medium";
}
.read-btn:hover {
  background: var(--sec-color);
  color: var(--prim-color);
}
.back-btn {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: var(--prim-color);
  background: none;
  font-family: "Roboto Medium";
  font-size: 1.1rem;
  padding: 2px;
  border: 2px solid var(--prim-color);
  border-radius: 5px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  z-index: 3;
}
.back-btn:hover {
  background: var(--prim-color);
  color: var(--sec-color);
}

.flip-card {
  transform: rotateY(180deg);
}
.project-wrapper {
  min-height: 100vh;
}

.project-title {
  font-size: 3.5rem;
  letter-spacing: 0.5mm;
  margin-top: 100px;
  padding: 0.2em;
  color: var(--sec-color);
  text-align: center;
  font-family: "RoadRage";
}

.about-project-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.25s ease-in-out;
}

.project-name {
  font-size: 2.5rem;
  font-family: "Roboto Bold";
  text-align: center;
  margin: 0 10px;
  margin-top: 30px;
}
.about-project {
  color: var(--prim-color);
  font-family: "Roboto Medium";
  font-size: 1.2rem;
  text-align: center;
}
.project-links-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-link {
  text-decoration: none;
  color: var(--prim-color);
  font-family: "Roboto Medium";
  font-size: 1.2rem;
  padding: 8px 30px;
  margin: 10px 0;
  border: 4px solid var(--prim-color);
  border-radius: 5px;
  transition: 0.25s ease-in-out;
}
.project-link:hover {
  background-color: var(--prim-color);
  color: var(--sec-color);
}
.arrow-svg {
  position: relative;
  top: 5px;
  transition: 0.25s ease-in-out;
  animation-name: arrow-anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes arrow-anim {
  0% {
    top: 5px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 5px;
  }
}

@media (max-width: 900px) {
  .my-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 130px;
  }
  .project-card {
    width: 270px;
    height: 300px;
    perspective: 1000px;
    transition: 0.25s ease-in-out;
    border-radius: 8px;
    margin: 40px 20px;
  }
  .image-container {
    overflow: hidden;
    height: 230px;
  }
  .project-image {
    width: 270px;
    height: 230px;
    overflow: hidden;
    z-index: -1;
    transition: 0.25s ease-in-out;
  }
  .read-container {
    padding: 15px 10px;
  }
}

@media (max-width: 620px) {
  .project-card {
    width: 330px;
    height: 340px;
    perspective: 1000px;
    transition: 0.25s ease-in-out;
    border-radius: 8px;
    margin: 30px 10px;
  }
  .image-container {
    overflow: hidden;
    height: 260px;
  }
  .project-image {
    width: 330px;
    height: 300px;
    overflow: hidden;
    z-index: -1;
    transition: 0.25s ease-in-out;
  }
  .read-container {
    padding: 20px 10px;
  }
}

@media (max-width: 556px) {
  .project-name {
    font-size: 1.8rem;
  }
  .about-project {
    font-size: 1.2rem;
  }
}

@media (max-width: 432px) {
  .project-title {
    font-size: 3rem;
  }
  .about-project {
    font-size: 1.1rem;
  }
  .project-link {
    font-size: 1rem;
  }

  .project-logo {
    transform: scale(1);
  }
  .project-container:hover .project-logo {
    transform: scale(1.09);
  }
  .my-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 130px;
  }
  .project-card {
    width: 270px;
    height: 300px;
    perspective: 1000px;
    transition: 0.25s ease-in-out;
    border-radius: 8px;
    margin: 40px 20px;
  }
  .image-container {
    overflow: hidden;
    height: 230px;
  }
  .project-image {
    width: 270px;
    height: 230px;
    overflow: hidden;
    z-index: -1;
    transition: 0.25s ease-in-out;
  }
  .read-container {
    padding: 15px 10px;
  }
}
@media (max-width: 380px) {
  .project-name {
    font-size: 1.3rem;
  }
  .about-project {
    font-size: 1rem;
  }
}
